#landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper{
    position: relative;
    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 600px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background: url(../images/bg.svg) no-repeat 80% center;
}

.location {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.enter-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background-color: #ffd666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}
.enter-app:hover{
    background-color: #97feff;
}
.content-wrapper main {
    max-width: 350px;
}
.content-wrapper main h1 {
    font-size: 5em;
    font-weight: 900;
    line-height: 70px;
}
.content-wrapper main p{
    margin-top: 40px;
    font-size: 24px;
}